Options -Indexes

RewriteEngine On

# Redirect to HTTPS if not already
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Rewrite URLs to include .html extension
RewriteCond %{REQUEST_FILENAME} !-f




#COMMON PAGES
RewriteRule ^about-us.html([/]?)$ about-us.php [NC,L]
RewriteRule ^gallery.html([/]?)$ gallery.php [NC,L]
RewriteRule ^booking.html([/]?)$ booking.php [NC,L]
RewriteRule ^blog.html([/]?)$ blog.php [NC,L]
RewriteRule ^contact-us.html([/]?)$ contact-us.php [NC,L]
RewriteRule ^our-message.html([/]?)$ our-message.php [NC,L]
RewriteRule ^location.html([/]?)$ location.php [NC,L]
RewriteRule ^page-faq.html([/]?)$ page-faq.php [NC,L]
RewriteRule ^call-girls-in-agra.html([/]?)$ call-girls-in-agra.php [NC,L]

#CATEGORY
RewriteRule ^college-escorts-in-agra.html([/]?)$ category/college-escorts-in-agra.php [NC,L]
RewriteRule ^russian-escorts-in-goa.html([/]?)$ category/russian-escorts-in-goa.php [NC,L]



#BLOGS
RewriteRule ^blogs/top-model-escorts-in-agra.html([/]?)$ blogs/top-model-escorts-in-agra.php [NC,L]
RewriteRule ^blogs/benefits-of-hiring-high-profile-escorts-in-agra.html([/]?)$ blogs/benefits-of-hiring-high-profile-escorts-in-agra.php [NC,L]